= partial 'parallax/nav'
= partial 'parallax/banner'
= partial 'parallax/features'
= partial 'parallax/parallax', locals: { slogan: lorem.sentence, background: 3 }
= partial 'parallax/contact_us'
= partial 'parallax/parallax', locals: { slogan: lorem.sentence, background: 2 }
= partial 'parallax/footer'
